#customCheck1 {
  min-width: 30px !important;
}
* {
  box-sizing: border-box;
}

.auth-inner {
  width: 450px;
  margin: auto;

  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
  margin-top: 0px;
}

.auth-inner .form-control:focus {
  border-color: var(--primary);
  box-shadow: none;
}

.auth-inner h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}
.auth-inner h4 {
  text-align: center;
  margin-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}
.panel-body * {
  margin-bottom: 5px;
}

.forgot-password a {
  color: var(--primary);
}

.form-gap {
  padding-top: 70px;
}
#btn-submit {
  display: block;
  margin: auto;
  min-width: 10px !important;
}
.auth-inner .mb-3 label {
  font-weight: 500;
  color: #7f7d7d;
}
.auth-inner .mb-3 input {
  border: none;
  padding: 10px;
  font-size: 14px;
  border-radius: 0px;
}

.d-grid button {
  background-color: var(--primary);
  border: none;
  border-radius: 0px;
  padding: 10px;
  font-size: 14px;
}

.btn:hover {
	background-color: rgb(204, 95, 12)  !important;
}
