<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>success</title>
</head>
<body>
<div style="display: flex;
    justify-content: center;
    align-items: center;">
    <div style="height: 250px;width: 400px;background-color:white; box-shadow:0 0 10px#4ac98e;margin-top: 30px;text-align: center;">
        <img style="height: 50px;width: 50px ; margin-top: 30px;" src="https://png.pngtree.com/png-vector/20210319/ourlarge/pngtree-checkmark-vector-in-3d-style-png-image_3094467.jpg">
        <p style="color: #0cc26d;margin-top: 5px;

          margin-bottom: 15px;
          margin-left: 5px;
          font-weight: 600;
          font-size: 30px;">Payment success</p>
        <p style="margin-top: 10px;
           color: #549494;
           margin-bottom: 15px;
           margin-left: 5px;
           margin-right: 5px;
           font-weight: 600;
           font-size: large;">The transaction was successful, you can return to the application and wait for the confirmation message!</p>
    </div>
</div>
</body>
</html>