.wrapper {
  background-image: url("https://c1.wallpaperflare.com/preview/716/602/349/girl-white-fun-kid.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
