.menu-item {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  padding: 8px;
  font-weight: 700;
  transition: background-color ease-in-out 200ms;
  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
    border-radius: 4px;
  }

  &.active {
    color: var(--primary);
  }
}

.title {
  margin-left: 10px;
}
