.user-utilities {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  
    
    .search {
      width: 400px;
      margin: 40px;
      margin-right: 200px;
    }
  }
  
  .user-table-container {
    .user-table {
    }
  }